{{#each allInfo }}
<div class="card text-dark bg-light my-3">
    <div class="card-header d-inline-flex p-2 justify-content-between">
        <div class="me-3"><strong>{{title}}</strong></div>
        <div class="ms-3">Posted By <strong>{{user.username}}</strong> on {{createdAt}}</div>
    </div>
    <div class="card-body">
        <p class="card-text">{{text}}</p>
    </div>
        {{#each comments }}
    <div class="card-body">
        <p class="card-text">{{comment_text}}</p>
    </div>
    {{/each}}
</div>
{{/each}}